<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.skibitsky.currenttask</string>
	<key>category</key>
	<string>My</string>
	<key>connections</key>
	<dict>
		<key>0056BC0C-A4B7-412B-A361-6717E0EAB7B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D691AB-AAB1-4DEC-A8E5-5EB30BD0925F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>125CF09E-2F5B-4FB4-BB82-A9B08AFC3B06</key>
		<array/>
		<key>1303688C-7BBB-48B2-92BA-B4931308B5B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64CA4B7F-5EA6-4719-A2E1-755F266D28C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AFE2ADA7-07FD-49A5-A948-D93419B30DDF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D31A5B49-15C9-49BC-9936-800234E79E8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F339BD5-73CB-4879-A125-E19F34CBCB45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>125CF09E-2F5B-4FB4-BB82-A9B08AFC3B06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>213DBDB4-C54E-4BC3-9EB8-EB211282F280</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24921786-F159-4ABA-B8F0-278DDE7B6CB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5264CDA0-1AC0-4F12-BBF0-F2524CCCCB93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30D691AB-AAB1-4DEC-A8E5-5EB30BD0925F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24921786-F159-4ABA-B8F0-278DDE7B6CB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AF2A942-9F58-43D3-886C-79C51F46A618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6FC2A10-CF09-42B1-A287-284CDBDF586D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64CA4B7F-5EA6-4719-A2E1-755F266D28C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA474BB9-1254-4869-BE8C-0030A7D66528</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75CAD226-E5D0-43C2-BA9B-76EDD1B023D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1303688C-7BBB-48B2-92BA-B4931308B5B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>765CE83F-167D-47AD-9BD6-CEA570481C8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6FC2A10-CF09-42B1-A287-284CDBDF586D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4B93081-E8E1-44C8-95C9-B403B59440A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64CA4B7F-5EA6-4719-A2E1-755F266D28C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6FC2A10-CF09-42B1-A287-284CDBDF586D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75CAD226-E5D0-43C2-BA9B-76EDD1B023D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D60452B6-068F-4DAC-AF11-1695A7FFE408</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Enable Focus</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA474BB9-1254-4869-BE8C-0030A7D66528</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F339BD5-73CB-4879-A125-E19F34CBCB45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE8FE719-9B7D-45CA-A893-1CC41046ADA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D691AB-AAB1-4DEC-A8E5-5EB30BD0925F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D31A5B49-15C9-49BC-9936-800234E79E8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4B93081-E8E1-44C8-95C9-B403B59440A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E7BB0200-58DA-4D08-8BF9-BEE5E6F2E229</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Enable Focus</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D60452B6-068F-4DAC-AF11-1695A7FFE408</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1303688C-7BBB-48B2-92BA-B4931308B5B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7BB0200-58DA-4D08-8BF9-BEE5E6F2E229</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64CA4B7F-5EA6-4719-A2E1-755F266D28C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gleb Skibitsky</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Current Task</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open focus://focus</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>125CF09E-2F5B-4FB4-BB82-A9B08AFC3B06</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "TimingHelper"
	set pr to front project whose name is (system attribute "project")
	start task with title (system attribute "task") project pr
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>64CA4B7F-5EA6-4719-A2E1-755F266D28C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="${task}"

echo $query &gt; $HOME/Library/Mobile\ Documents/iCloud~is~workflow~my~workflows/Documents/Current\ Task/ct.txt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA474BB9-1254-4869-BE8C-0030A7D66528</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:focus}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Enable Focus</string>
						<key>uid</key>
						<string>213DBDB4-C54E-4BC3-9EB8-EB211282F280</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1F339BD5-73CB-4879-A125-E19F34CBCB45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>task</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./node_modules/alfred-timing/tasks.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>Enter the task...</string>
				<key>title</key>
				<string>Timing Task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B6FC2A10-CF09-42B1-A287-284CDBDF586D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>new current task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>4AF2A942-9F58-43D3-886C-79C51F46A618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:project}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Use {var:project}</string>
						<key>uid</key>
						<string>AFE2ADA7-07FD-49A5-A948-D93419B30DDF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Select Project</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1303688C-7BBB-48B2-92BA-B4931308B5B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>focus</key>
					<string>false</string>
					<key>task</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>75CAD226-E5D0-43C2-BA9B-76EDD1B023D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>focus</key>
					<string>false</string>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B4B93081-E8E1-44C8-95C9-B403B59440A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>765CE83F-167D-47AD-9BD6-CEA570481C8A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./node_modules/alfred-timing/projects.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>Select project...</string>
				<key>title</key>
				<string>Timing Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D31A5B49-15C9-49BC-9936-800234E79E8E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>focus</key>
					<string>true</string>
					<key>task</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D60452B6-068F-4DAC-AF11-1695A7FFE408</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>focus</key>
					<string>true</string>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E7BB0200-58DA-4D08-8BF9-BEE5E6F2E229</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "TimingHelper"	stop current task with notificationend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24921786-F159-4ABA-B8F0-278DDE7B6CB9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo &gt; $HOME/Library/Mobile\ Documents/iCloud~is~workflow~my~workflows/Documents/Current\ Task/ct.txt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30D691AB-AAB1-4DEC-A8E5-5EB30BD0925F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open focus://unfocus</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5264CDA0-1AC0-4F12-BBF0-F2524CCCCB93</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>stop current task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>BE8FE719-9B7D-45CA-A893-1CC41046ADA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>stop task</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Stop Current Task</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0056BC0C-A4B7-412B-A361-6717E0EAB7B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The workflow allows to create and close tasks. Creation is possible by  calling workflow directly (I use Karabiner Elements and Goku for that) or by selecting the text anywhere (i.e. inside task tracking app or GitHub issue) and using hotkey.

It is based on alfred-timing (https://github.com/skibitsky/alfred-timing) workflow. It makes possible Timing tasks and projects fetching from the Timing API. However, it may case problems in case of no internet connection.</string>
	<key>uidata</key>
	<dict>
		<key>0056BC0C-A4B7-412B-A361-6717E0EAB7B2</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>125CF09E-2F5B-4FB4-BB82-A9B08AFC3B06</key>
		<dict>
			<key>note</key>
			<string>Enable Focus</string>
			<key>xpos</key>
			<integer>1685</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>1303688C-7BBB-48B2-92BA-B4931308B5B2</key>
		<dict>
			<key>note</key>
			<string>If it is a new task, select the project for it</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>1F339BD5-73CB-4879-A125-E19F34CBCB45</key>
		<dict>
			<key>note</key>
			<string>If "focus" == True</string>
			<key>xpos</key>
			<integer>1505</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>24921786-F159-4ABA-B8F0-278DDE7B6CB9</key>
		<dict>
			<key>note</key>
			<string>Stop Timing task</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>30D691AB-AAB1-4DEC-A8E5-5EB30BD0925F</key>
		<dict>
			<key>note</key>
			<string>Clean Current Task file in iCloud</string>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>4AF2A942-9F58-43D3-886C-79C51F46A618</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>5264CDA0-1AC0-4F12-BBF0-F2524CCCCB93</key>
		<dict>
			<key>note</key>
			<string>Unfocus</string>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>64CA4B7F-5EA6-4719-A2E1-755F266D28C8</key>
		<dict>
			<key>note</key>
			<string>Start a new task in Timing</string>
			<key>xpos</key>
			<integer>1085</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>75CAD226-E5D0-43C2-BA9B-76EDD1B023D6</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>765CE83F-167D-47AD-9BD6-CEA570481C8A</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>B4B93081-E8E1-44C8-95C9-B403B59440A2</key>
		<dict>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>B6FC2A10-CF09-42B1-A287-284CDBDF586D</key>
		<dict>
			<key>note</key>
			<string>Select or create Timing task</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>BA474BB9-1254-4869-BE8C-0030A7D66528</key>
		<dict>
			<key>note</key>
			<string>Write Current Task into iCloud file</string>
			<key>xpos</key>
			<integer>1295</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>BE8FE719-9B7D-45CA-A893-1CC41046ADA0</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>D31A5B49-15C9-49BC-9936-800234E79E8E</key>
		<dict>
			<key>note</key>
			<string>Select Timing project</string>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>D60452B6-068F-4DAC-AF11-1695A7FFE408</key>
		<dict>
			<key>note</key>
			<string>Enable Focus</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>E7BB0200-58DA-4D08-8BF9-BEE5E6F2E229</key>
		<dict>
			<key>note</key>
			<string>Enable Focus</string>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>token</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>token</string>
	</array>
	<key>version</key>
	<string>2.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/skibitsky/current-task</string>
</dict>
</plist>
